.App {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  background-image: url("retroGameBG.png");
  background-repeat: repeat;
  background-size: 15%;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ==================== */
/* QUIZ CARD & ELEMENTS */
/* ==================== */
.quiz-card {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  margin: 15px;
  padding: 25px;
  background: #bebec0;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border: 8px solid #d64e3b;
  text-align: center;
  width: 30em;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

li {
  background: lightgray;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid white;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 10px;
  width: 20em;
  text-align: center;
  cursor: pointer;
}

/* =============== */
/* QUESTION COLORS */
/* =============== */

.isGreen {
  background-color: #1c7c54;
}

.isRed {
  background-color: darkgray;
}

.selectedAnswer {
  /* background-color: #0F7173; */
  background-color: #016fb9;
}

.active {
  border: 3px solid #d64e3b;
}

/* ---------------- */

li:hover {
  color: white;
  box-shadow: 5px 5px 5px darkgray;
}

/* ============================ */
/* FINAL RESULT CARD & ELEMENTS */
/* ============================ */
.final-results {
  display: flex;
  flex-flow: column wrap;
  /* flex-direction: column; */
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  margin: 30px;
  padding: 40px;
  width: 30em;
  background: #bebec0;
  border: 8px solid #d64e3b;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  text-align: center;
}

button {
  background-color: #d64e3b; /* Green */
  border: none;
  color: white;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
}

/* ============= */
/* MISC ELEMENTS */
/* ============= */
.giphy {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 5px;
  margin: 0;
  width: 80%;
  height: 75%;
  border: 3px solid white;
  border-radius: 15px;
}

.giphy-link {
  font-size: 10px;
  margin: 5px;
  margin-bottom: 25px;
}

.sound-btn {
  width: 100%;
  font-size: 50px;
  border: 8px solid #d64e3b;
  background: #bebec0;
  cursor: pointer;
}

.sound-btn:hover {
  animation: effect 0.4s ease-in-out;
  animation-iteration-count: 2;
}

@keyframes effect {
  0% {
    transform: translateX(0px) rotate(0deg);
  }
  20% {
    transform: translateX(-4px) rotate(-4deg);
  }
  40% {
    transform: translateX(-2px) rotate(-2deg);
  }
  60% {
    transform: translateX(4px) rotate(4deg);
  }
  80% {
    transform: translateX(2px) rotate(2deg);
  }
  100% {
    transform: translateX(0px) rotate(0deg);
  }
}

/* ============= */
/* MEDIA QUERIES */
/* ============= */

@media only screen and (min-device-width: 390px) and (max-device-width: 844px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    background-image: url("retroGameBG.png");
    background-repeat: repeat;
    background-size: 35%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .quiz-card {
    margin-top: 50px;
    padding-bottom: 50px;
    width: 80%;
  }
  .final-results {
    margin-top: 50px;
    padding-bottom: 50px;
    width: 60%;
  }

  .giphy {
    width: 100%;
    height: 60%;
  }

  li {
    width: 100%;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 896px) and (-webkit-min-device-pixel-ratio: 3) {
  body {
    background-image: url("retroGameBG.png");
    background-repeat: repeat;
    background-size: 50%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .quiz-card {
    margin-top: 50px;
    padding-bottom: 50px;
    width: 80%;
  }

  .final-results {
    margin-top: 50px;
    padding-bottom: 50px;
    width: 80%;
  }

  .giphy {
    width: 80%;
    height: 60%;
  }

  li {
    width: 100%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1180px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    background-image: url("retroGameBG.png");
    background-repeat: repeat;
    background-size: 30%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .quiz-card {
    margin-top: 50px;
    padding-bottom: 50px;
    width: 80%;
  }

  .final-results {
    margin-top: 50px;
    padding-bottom: 50px;
    width: 50%;
  }

  .giphy {
    width: 80%;
    height: 80%;
  }

  li {
    width: 100%;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    background-image: url("retroGameBG.png");
    background-repeat: repeat;
    background-size: 30%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .quiz-card {
    margin-top: 50px;
    padding-bottom: 50px;
    width: 60%;
  }

  .final-results {
    margin-top: 50px;
    padding-bottom: 50px;
    width: 50%;
  }

  .giphy {
    width: 90%;
    height: 80%;
  }

  li {
    width: 100%;
  }
}
