.App {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
}

body {
  background-image: url("retroGameBG.png");
  background-repeat: repeat;
  background-size: 15%;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ==================== */
/* QUIZ CARD & ELEMENTS */
/* ==================== */
.quiz-card {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  margin: 30px;
  padding: 40px;
  background: #bebec0;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border: 8px solid #d64e3b;
  text-align: center;
  width: 30em;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

li {
  background: lightgray;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid white;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 10px;
  width: 20em;
  text-align: center;
  cursor: pointer;
}

li:hover {
  color: #d64e3b;
  box-shadow: 5px 5px 5px darkgray;
}

/* ============================ */
/* FINAL RESULT CARD & ELEMENTS */
/* ============================ */
.final-results {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  margin: 30px;
  padding: 40px;
  width: 30em;
  background: #bebec0;
  border: 8px solid #d64e3b;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  text-align: center;
}

button {
  background-color: #d64e3b;
  /* Green */
  border: none;
  color: white;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
}

/* ============= */
/* MISC ELEMENTS */
/* ============= */
.giphy {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 5px;
  margin: 0;
  width: 80%;
  border: 3px solid white;
  border-radius: 15px;
}

.giphy-link {
  font-size: 10px;
  margin: 5px;
  margin-bottom: 25px;
}

.sound-btn {
  width: 100%;
  font-size: 50px;
  border: 8px solid #d64e3b;
  background: #bebec0;
  cursor: pointer;
}

.sound-btn:hover {
  animation: effect 0.4s ease-in-out;
  animation-iteration-count: 2;
}

@keyframes effect {
  0% {
    transform: translateX(0px) rotate(0deg);
  }

  20% {
    transform: translateX(-4px) rotate(-4deg);
  }

  40% {
    transform: translateX(-2px) rotate(-2deg);
  }

  60% {
    transform: translateX(4px) rotate(4deg);
  }

  80% {
    transform: translateX(2px) rotate(2deg);
  }

  100% {
    transform: translateX(0px) rotate(0deg);
  }
}